// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.swal2-container {
    z-index: 99999!important;
}

.calendar-table-cel-body {
    position: relative;
}
.calendar-table-cel-user {
    cursor: auto;
    & + & {
        margin-left: .5rem;
    }
}

.modal-open-link {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
